{% extends 'blog/base.html' %}

{% block body_block %}
<div class="container mt-5 centerstage">
    <h1 class="display-4 text-center mb-4  loader">About this project</h1>
    <p class="lead text-center ">This project is made while learning Python and Django</p>
    <p class="text-center ">
        Thanks to <a href="https://github.com/yabwe/medium-editor" class="text-primary text-decoration-none ">Yabwe</a>
        for the medium editor.
    </p>
    <p class="text-center">
        Thanks to <a href="https://codepen.io/thapliyalshivam/pen/dvgXVO"
            class="text-primary text-decoration-none">Shivam Thapliyal</a>
        for the changing color CSS.
    </p>
</div>
{% endblock %}